<mat-toolbar class="toolbar" color="primary">
  <span>Owner</span>
  <button mat-button color="primary" (click)="openDialog()">ADD</button>
</mat-toolbar>
<table matSort (matSortChange)="sortData($event)" overflow="auto">
  <tr>
    <th mat-sort-header="id">ID</th>
    <th mat-sort-header="firstName">First Name</th>
    <th mat-sort-header="lastName">Last Name</th>
    <th mat-sort-header="dateCreated">Date Created</th>
    <th mat-sort-header="dateModified">Date Modified</th>
    <th mat-sort-header="action">Action</th>
  </tr>
  <tr *ngFor="let owner of sortedData">
    <td>{{owner.id}}</td>
    <td>{{owner.firstName}}</td>
    <td>{{owner.lastName}}</td>
    <td>{{owner.dateCreated}}</td>
    <td>{{owner.dateModified}}</td>
    <td><button mat-button color="primary">view pet</button></td>
  </tr>
</table>
